@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --font-sans: var(--font-exo2);
}

@utility glow-cyan {
  box-shadow: 0 0 20px rgba(0, 102, 255, 0.5);
}

@utility glow-red {
  box-shadow: 0 0 20px rgba(236, 19, 19, 0.5);
}

@utility text-glow {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

:root {
  --background: #0d0d0d;
  --foreground: #ffffff;
  --primary: #ec1313;
  --secondary: #999999;
  --accent: #0066ff;
}

body {
  @apply bg-background text-foreground;
  /* background-image: radial-gradient(circle at top left, rgba(0, 102, 255, 0.1), transparent 40%); */
  background-image: 
    radial-gradient(at 0% 0%, rgba(0, 102, 255, 0.15) 0px, transparent 50%),
    radial-gradient(at 100% 0%, rgba(236, 19, 19, 0.15) 0px, transparent 50%);
  min-height: 100vh;
}
